:root {
  --basic-black: #000000;
  --basic-gray: #333333;
  --basic-dark-gray: #eeeeee;
  --basic-light-gray: #CACACA;
  --basic-extra-gray: #E5E5E5;
  --basic-super-gray: #D8D8D8;
  --basic-white: #ffffff;
  --basic-blue: #23A9E1;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-background: #F2F2F2;
  --basic-text-gray: #666666;
  --basic-number-gray: #A9A9A9;
}

body {
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-background);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

header {
  background-color: var(--basic-white);
}

.site-navigation a {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.container {
  background-color: var(--basic-white);
}

.features h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.blue-feature-item {
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
}

.gray-feature-item {
  background-color: var(--basic-dark-gray);
}

.appointment-info {
  font-size: 14px;
  line-height: 24px;
}

.button-hotel {
  width: 568px;
  height: 86px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
}

.button-hotel:hover {
  background-color: var(--basic-brown);
}

.button-hotel:active {
  background-color: var(--basic-dark-brown);
  mix-blend-mode: normal;
  opacity: 0.3;
}

li p {
  color: var(--basic-gray);
}

.main-footer {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-white);
}

.footer-phone,
.site-navigation a {
  text-decoration: none;
  color: var(--basic-black);
}

.footer-copyright p {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.social-button {
  width: 46px;
  height: 48px;
}

.filter {
  background-image: url("img/background_catalog.jpg");
}

.detail-hotel {
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  width: 142px;
  height: 27px;
}

.detail-hotel:hover {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.detail-hotel:active {
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.buttom-hotels {
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
}

.buttom-hotels:hover {
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.button-hotel:active {
  background-color: var(--basic-dark-brown);
  color: var(--basic-white);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.hotels-item h3:hover {
  color: var(--basic-light-blue);
}

.hotels-item h3:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.rating-hotel {
  background-color: var(--basic-background);
  color: var(--basic-text-gray);
}

.choice-hotel a {
  color: var(--basic-light-brown);
}

.navigation-item a:hover {
  color: var(--basic-light-blue);
}

.navigation-item a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.social-button a img {
  text-align: center;
}

.sorting-item a {
  color: var(--basic-black);
  text-decoration: dotted var(--basic-light-blue) underline;
  opacity: 0.3;
  font-size: 12px;
  line-height: 18px;
}

.sorting-item-active a {
  color: var(--basic-light-blue);
  text-decoration: none;
}

.sorting-item:hover a {
  color: var(--basic-light-blue);
  text-decoration: dotted var(--basic-light-blue) underline;
}

.sorting-item:active a {
  color: var(--basic-black);
  text-decoration: none;
}

.pop-up {
  font-size: 14px;
  line-height: 26px;
}

input {
  background-color: var(--basic-background);
  border: none;
}

.button-minus,
.button-plus {
  color: var(--basic-number-gray);
}

.button-plus:hover {
  color: var(--basic-black);
}

.button-minus:hover {
  color: var(--basic-black);
}

.button-plus:active {
  color: var(--basic-light-blue);
}

.button-minus:active {
  color: var(--basic-light-blue);
}

.search-button {
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 27px;
}

.search-button:hover {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.search-button:active {
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
}
/* Менять цвет кнопок-img */

